<div class="row content-recover ">

  <div class="col-12 col-sm-12 col-md-6 imagen-back">
    <img class="imagen-recover" src="../../../assets/images/logoSyngenta.png" alt="" />
  </div>

  <div class="col-12 col-sm-12 col-md-6 Autoraizer__formulario">
    <div class="Autoraizer__formulario__conten col-12 col-md-6 align-items-center">
      <div class="Autoraizer__formulario-recover-code ">
        <div class="Autoraizer__formulario-recover-code__recover__TextCode">
          <div class="Autoraizer__formulario-recover-code__recover__title"><span class="regular-24 mb-4">Código de
              verificación</span></div>
          <div class="Autoraizer__formulario-recover-code__recover__disclaimer"><span class="regular-16 mb-4">Por
              favor
              escribe el código de seguridad enviado a tu correo electrónico o por SMS a tu teléfono</span></div>
        </div>
        <div class="Autoraizer__formulario-recover-code__recover__inputCode ">
          <div class="Autoraizer__formulario-recover-code__recover__codeInput mb-3">

            <form>
              <code-input [isCodeHidden]="false" [codeLength]="6" (codeChanged)="onCodeChanged($event)"
                (codeCompleted)="onCodeCompleted($event)">
              </code-input>
            </form>

          </div>
          <div class="Autoraizer__formulario-recover-code__recover__codeText ">
            <div class="Autoraizer__formulario-recover-code__recover__codeText mb-3">
              <span class="regular-16">El código vence en <span class="bold-16 primario">{{minutes}}:{{seconds}}</span>
                minutos</span>
            </div>
            <div class="Autoraizer__formulario-recover-code__recover__codeText">
              <span class="regular-16">¿No recibiste el código?<br> <u>Reenviar el código</u></span>
            </div>
          </div>
        </div>

      </div>



      <div class="Autoraizer__formulario-recover-password col-12 col-md-6">
        <div class="Autoraizer__formulario-recover-password__TextPassword ">
          <div class="Autoraizer__formulario-recover-password__Title mb-4">
            <span class="bold-32 ">Reestablece tu contraseña</span>
          </div>
          <div class="Autoraizer__formulario-recover-password__disclaimer mb-4">
            <span class="regular-16 ">La clave deberá contener mínimo 8 caracteres, debe contener números, letras
              mayúsculas, minúsculas y caracteres
              especiales (”#%&@-_$).</span>
          </div>
        </div>
        <div class="Autoraizer__formulario-recover-password__InputPassword">
          <div class="Autoraizer__formulario-recover-password__InputPassword__input">

            <form>
              <mat-form-field appearance="fill">
                <mat-label>Nueva contraseña</mat-label>
                <input matInput placeholder="Nueva contraseña" (focus)="onInputFocus(hide1)"
                  (blur)="onInputBlur(hide1)">
                <mat-icon matSuffix [ngClass]="hide1 ? 'icono-ojo-cerrado' : 'icono-ojo-abierto'"
                  class="login_icon"></mat-icon>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput placeholder="Confirmar contraseña" (focus)="onInputFocus(hide)"
                  (blur)="onInputBlur(hide)">
                <mat-icon matSuffix [ngClass]="hide ? 'icono-ojo-cerrado' : 'icono-ojo-abierto'"
                  class="login_icon"></mat-icon>
              </mat-form-field>
            </form>

            <div class="col-12">
              <button class="recover_btn" type="submit">Confirmar</button>
            </div>

          </div>
        </div>


      </div>
    </div>


  </div>


</div>