<div class="container-fluid login_container">
    <div class="row login_row">
        <div class="col-12 col-md-12 col-lg-6 login_col-img--mobile">
            <img class="login_img" src="../../../assets/images/login-mobile.png" alt="">
        </div>
        <div class="col-6 login_col-img--desktop">
            <img class="login_img" src="../../../assets/images/login.png" alt="">
        </div>
        <div class="col-12 col-md-12 col-lg-6 login_col-input">
            <div class="row login_row_form">
                <div class="col-12 login_col_form">
                    <form>
                        <mat-label class="login_label">Iniciar sesión</mat-label>
                        <mat-label class="login_mat_label">Usuario</mat-label>
                        <mat-form-field class="login_mat-form">
                            <input matInput class="login_input" placeholder="Usuario">
                        </mat-form-field>
                        <mat-label class="login_mat_label">Contraseña</mat-label>
                        <mat-form-field class="login_mat-form">
                            <input matInput class="login_input" placeholder="········">
                            <mat-icon matSuffix (click)="hide = !hide" [ngClass]="hide ? 'icono-ojo-cerrado' : 'icono-ojo-abierto'" class="login_icon"></mat-icon>
                        </mat-form-field>
                        <a class="login_a">Recuperar contraseña</a>
                    </form>
                </div>
                <div class="col-12 login_button">
                    <button class="login_btn" type="submit">Ingresar</button>
                </div>
            </div>
        </div>
    </div>
</div>