
@font-face {
    font-family: "bold";
    src: url("/../assets/fonts/font-valepass/EuclidCircularB-Bold.woff");
  }
  @font-face {
    font-family: "regular";
    src: url("/../assets/fonts/font-valepass/EuclidCircularB-Regular.woff");
  }
.login_col-img--desktop{
    display: none;
}
.login_img{
    width: 100%;
}
.login_col-input{
    background-color: #FAFAFA;
}
.login_mat-form,
.login_label,
.login_a,
.login_button{
    display: flex;
    justify-content: center;
}
.login_col_form{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.login_label{
    font-family: "bold";
    font-size: 32px;
    color: #1A0C3F;
    margin-bottom: 32px;
}
.login_mat_label{
    font-family: "bold";
    font-size: 14px;
    color: #1A0C3F;
}
::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--textarea){
    font-family: "regular";
    font-size: 16px;
    color: #1A0C3F66;
    border: 1px solid #1A0C3F66;
    border-radius: 16px;
    width: 280px;
}
.login_a{
    font-family: "regular";
    font-size: 16px;
    color: #1A0C3F;
    text-decoration: underline;
}
.login_btn{
    border-radius: 50px;
    border: none;
    background-color: #C567F2;
    min-width: 260px;
    min-height: 44px;
    font-family: "bold";
    font-size: 16px;
    color: #1A0C3F;
}
.login_icon{
    font-size: 16px;
    color: #1A0C3F;
}
::ng-deep .mat-mdc-text-field-wrapper {
    min-height: 44px;
    margin-top: 8px;
}
::ng-deep .mat-mdc-form-field-flex {
    align-items: center !important;
    min-height: 44px;
}

// tablets
@media screen and (min-width: 40em) and (max-width: 63.9em) {
    .login_col_form{
        padding-top: 80px;
    }
}

// web
@media screen and (min-width: 64em) {
    .login_col-img--mobile{
        display: none;
    }
    .login_col-img--desktop{
        display: flex;
    }
    .login_row{
        display: flex;
        flex-direction: row;
    }
    .login_col-img--desktop {
        width: 100%;
        height: 100%;
    }
    .login_col-input {
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}


